div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    clear: left;
    text-align: center;
}

header, footer {
	background-color: #ef9733;
	color: #950000;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.add {
	cursor: pointer
}

.ingredients-table {
	padding: 3px;
	margin: 4px
}

